{
    "openapi": "3.0.0",
    "info": {
        "title": "Sytemap API Documentation",
        "description": "API documentation for Sytemap application with OTP verification and user management",
        "contact": {
            "email": "admin@sytemap.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/admin/referrals": {
            "get": {
                "tags": [
                    "Admin - Referrals"
                ],
                "summary": "Get list of all agents and their referrals",
                "description": "This endpoint returns all agents with their referred users. Only accessible by admin.",
                "operationId": "4a2ca1962e6f72861575ac3152915c56",
                "responses": {
                    "200": {
                        "description": "List of agents and their referrals",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "agent_id": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "agent_name": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "agent_email": {
                                                        "type": "string",
                                                        "example": "john@example.com"
                                                    },
                                                    "referrals_count": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "referred_users": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 12
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Mary Smith"
                                                                },
                                                                "email": {
                                                                    "type": "string",
                                                                    "example": "mary@example.com"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "description": "Register a new user and send OTP for email verification",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "state",
                                    "country"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Lagos"
                                    },
                                    "country": {
                                        "type": "string",
                                        "example": "Nigeria"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully. Please check your email for verification code."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "example": "John"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "email_verified": {
                                                            "type": "boolean",
                                                            "example": false
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "otp_expires_in_minutes": {
                                                    "type": "integer",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/verify-email": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify user email address via OTP",
                "description": "Verifies a user's email address using a One-Time Password (OTP) sent to their email. \n     *     If verification is successful, the user's email_verified_at timestamp is updated.",
                "operationId": "d35e89cf73a61685a798f26d0eab3619",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "The registered email address of the user.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "otp": {
                                        "description": "The 6-digit OTP sent to the user's email.",
                                        "type": "string",
                                        "maxLength": 6,
                                        "minLength": 6,
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Email verified successfully"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "johndoe@example.com"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email_verified": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-08-15T10:23:45Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OTP verification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid OTP"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The email field is required."
                                                ],
                                                "otp": [
                                                    "The otp field must be 6 characters."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Email verification failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Unexpected error occurred"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/resend-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Resend email verification OTP",
                "description": "Resends a One-Time Password (OTP) to the provided email address for email verification. \n     *     If the email is already verified, the request will fail.",
                "operationId": "97c388571700f6d6d5ad133cd096195b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "The registered email address of the user.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP resent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Verification code sent successfully"
                                        },
                                        "otp_expires_in_minutes": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Email already verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Email is already verified"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The email field is required."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The selected email is invalid or does not exist."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to send OTP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to send verification email"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Mail server not responding"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "description": "Login user with email and password",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "example": "John"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "Doe"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "403": {
                        "description": "Email not verified"
                    }
                }
            }
        },
        "/api/v1/agent/login": {
            "post": {
                "tags": [
                    "Agent"
                ],
                "summary": "Agent Login",
                "description": "Login as an agent and return referral code if successful.",
                "operationId": "6f6eb50887d90472ddc00c11483b7b7f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "agent@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login success, referral code returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "referral_code": {
                                                    "type": "string",
                                                    "example": "REF-A1B2C3D4"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid email or password"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/admin/documents/upload": {
            "post": {
                "tags": [
                    "Documents"
                ],
                "summary": "Upload a new document",
                "description": "Upload a PDF document (admin only)",
                "operationId": "d8d4179a62c52c448dcc9fd12c894978",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Sample Document"
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Document uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Document uploaded successfully"
                                        },
                                        "document": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Sample Document"
                                                },
                                                "file_path": {
                                                    "type": "string",
                                                    "example": "documents/file.pdf"
                                                },
                                                "uploaded_by": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "published": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/admin/documents/{id}/publish": {
            "put": {
                "tags": [
                    "Documents"
                ],
                "summary": "Publish a document",
                "description": "Mark a document as published",
                "operationId": "8b277421e5a4376f4afbf7ce03541d81",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document published successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Document published successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Document not found"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/admin/documents/{id}/unpublish": {
            "put": {
                "tags": [
                    "Documents"
                ],
                "summary": "Unpublish a document",
                "description": "Mark a document as unpublished",
                "operationId": "3db112154089947373f53bdeeaefcb6d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document unpublished successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Document unpublished successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Document not found"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/documents": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "summary": "Get published documents",
                "description": "List all published documents (public)",
                "operationId": "07a88109d5967ac490be72ceb7fa973b",
                "responses": {
                    "200": {
                        "description": "List of published documents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "documents": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Sample Document"
                                                    },
                                                    "file_path": {
                                                        "type": "string",
                                                        "example": "documents/file.pdf"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "http://example.com/storage/documents/file.pdf"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/documents/{id}/download": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "summary": "Download a document",
                "description": "Download a published document",
                "operationId": "1b9861b94be69587f27fa481c27e4acb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File download"
                    },
                    "403": {
                        "description": "Document not available"
                    },
                    "404": {
                        "description": "File not found"
                    }
                }
            }
        },
        "/api/v1/admin/documents/{id}": {
            "delete": {
                "tags": [
                    "Documents"
                ],
                "summary": "Delete a document",
                "description": "Delete a document (admin only)",
                "operationId": "5a3c8c4a7b2f7ceff7d9d1d8b67e7a0e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Document ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Document deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Document not found"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/estate/new": {
            "post": {
                "tags": [
                    "Estate Management"
                ],
                "summary": "Create a new estate",
                "description": "Create a new estate with basic information and images",
                "operationId": "d02b94c014bb7759e21f4bcc6dc71dad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "town_or_city",
                                    "state"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Luxury Estate Gardens"
                                    },
                                    "town_or_city": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Lekki"
                                    },
                                    "state": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Lagos"
                                    },
                                    "cordinates": {
                                        "description": "Latitude,Longitude coordinates",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "6.4281,3.4219"
                                    },
                                    "zoning": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Residential"
                                    },
                                    "size": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "500 sqm"
                                    },
                                    "direction": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "North-facing"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Beautiful estate with modern amenities"
                                    },
                                    "map_background_image": {
                                        "description": "Map background image file",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "preview_display_image": {
                                        "description": "Preview display image file",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "has_cerificate_of_occupancy": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "amenities": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Swimming Pool",
                                            "Gym",
                                            "Security"
                                        ]
                                    },
                                    "rating": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 4
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "publish",
                                            "unpublish"
                                        ],
                                        "example": "publish"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Estate created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Estate created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Luxury Estate Gardens"
                                                },
                                                "town_or_city": {
                                                    "type": "string",
                                                    "example": "Lekki"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Lagos"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "publish"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "datetime"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "datetime"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/estate/media": {
            "post": {
                "tags": [
                    "Estate Management"
                ],
                "summary": "Upload estate media files",
                "description": "Upload photos, 3D model images, videos, and virtual tour URLs for an estate",
                "operationId": "04d7ce101d8880f08eb0f7f105207e69",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "estate_id"
                                ],
                                "properties": {
                                    "estate_id": {
                                        "description": "ID of the estate",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "photos": {
                                        "description": "Multiple photo files",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "third_dimension_model_images": {
                                        "description": "Multiple 3D model image files",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "third_dimension_model_video": {
                                        "description": "3D model video file",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "virtual_tour_video_url": {
                                        "type": "string",
                                        "format": "uri",
                                        "example": "https://youtube.com/watch?v=xyz"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "publish",
                                            "unpublish"
                                        ],
                                        "example": "publish"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Estate media uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Estate media created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "estate_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "photos": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "third_dimension_model_images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "third_dimension_model_video": {
                                                    "type": "string"
                                                },
                                                "virtual_tour_video_url": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/estate/estates/top-rated": {
            "get": {
                "tags": [
                    "Estate Management"
                ],
                "summary": "Get top rated estates",
                "description": "Retrieve top 10 highest rated estates with media and plot details",
                "operationId": "a756fe8e5ba72ce6a10a30e7a7c659f4",
                "responses": {
                    "200": {
                        "description": "Top rated estates retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Top rated estates retrieved successfully"
                                        },
                                        "total_count": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Luxury Estate Gardens"
                                                    },
                                                    "town_or_city": {
                                                        "type": "string",
                                                        "example": "Lekki"
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "example": "Lagos"
                                                    },
                                                    "rating": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "publish"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "amenities": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "media": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "photos": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "third_dimension_model_images": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "virtual_tour_video_url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "plot_detail": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "available_plot": {
                                                                "type": "integer",
                                                                "example": 25
                                                            },
                                                            "available_acre": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 12.5
                                                            },
                                                            "price_per_plot": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 150000
                                                            },
                                                            "promotion_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 135000
                                                            },
                                                            "effective_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 135000
                                                            },
                                                            "has_promotion": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "total_plot_value": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3375000
                                                            },
                                                            "installment_plan": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/estate/estates/top-rated-alt": {
            "get": {
                "tags": [
                    "Estate Management"
                ],
                "summary": "Get top rated estates (Alternative method)",
                "description": "Alternative approach using joins for better performance with large datasets",
                "operationId": "8100fe384f33826788079f0c0f75ce6a",
                "responses": {
                    "200": {
                        "description": "Top rated estates retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Top rated estates retrieved successfully"
                                        },
                                        "total_count": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Luxury Estate Gardens"
                                                    },
                                                    "town_or_city": {
                                                        "type": "string",
                                                        "example": "Lekki"
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "example": "Lagos"
                                                    },
                                                    "coordinates": {
                                                        "type": "string",
                                                        "example": "6.4281,3.4219"
                                                    },
                                                    "zoning": {
                                                        "type": "string",
                                                        "example": "Residential"
                                                    },
                                                    "size": {
                                                        "type": "string",
                                                        "example": "500 sqm"
                                                    },
                                                    "direction": {
                                                        "type": "string",
                                                        "example": "North-facing"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Beautiful estate with modern amenities"
                                                    },
                                                    "rating": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "publish"
                                                    },
                                                    "has_certificate_of_occupancy": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "amenities": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "example": [
                                                            "Swimming Pool",
                                                            "Gym"
                                                        ]
                                                    },
                                                    "map_background_image": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "example": "https://res.cloudinary.com/estates/map.jpg"
                                                    },
                                                    "preview_display_image": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "example": "https://res.cloudinary.com/estates/preview.jpg"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "media": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "photos": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string",
                                                                    "format": "uri"
                                                                }
                                                            },
                                                            "third_dimension_model_images": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string",
                                                                    "format": "uri"
                                                                }
                                                            },
                                                            "third_dimension_model_video": {
                                                                "type": "string",
                                                                "format": "uri",
                                                                "nullable": true
                                                            },
                                                            "virtual_tour_video_url": {
                                                                "type": "string",
                                                                "format": "uri",
                                                                "nullable": true
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "publish"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "plot_detail": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "available_plot": {
                                                                "type": "integer",
                                                                "example": 25
                                                            },
                                                            "available_acre": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 12.5
                                                            },
                                                            "price_per_plot": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 150000
                                                            },
                                                            "percentage_increase": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 5
                                                            },
                                                            "installment_plan": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "example": [
                                                                    "12 months",
                                                                    "6 months"
                                                                ]
                                                            },
                                                            "promotion_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 135000,
                                                                "nullable": true
                                                            },
                                                            "effective_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 135000
                                                            },
                                                            "has_promotion": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "savings_amount": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 15000
                                                            },
                                                            "total_plot_value": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3375000
                                                            },
                                                            "formatted_price": {
                                                                "type": "string",
                                                                "example": "150000.00"
                                                            },
                                                            "formatted_promotion_price": {
                                                                "type": "string",
                                                                "example": "135000.00",
                                                                "nullable": true
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/estate-plot-details/plot-detail": {
            "post": {
                "tags": [
                    "Plot Details"
                ],
                "summary": "Create estate plot detail",
                "description": "Create detailed plot information for an estate",
                "operationId": "86134174752be757f4f6f9b2e121c40f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "estate_id",
                                    "available_plot",
                                    "available_acre",
                                    "price_per_plot"
                                ],
                                "properties": {
                                    "estate_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "available_plot": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "example": 50
                                    },
                                    "available_acre": {
                                        "type": "number",
                                        "format": "float",
                                        "minimum": 0,
                                        "example": 25.5
                                    },
                                    "price_per_plot": {
                                        "type": "number",
                                        "format": "float",
                                        "minimum": 0,
                                        "example": 150000
                                    },
                                    "percentage_increase": {
                                        "type": "number",
                                        "format": "float",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "example": 5.5
                                    },
                                    "installment_plan": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "12 months",
                                            "6 months"
                                        ]
                                    },
                                    "promotion_price": {
                                        "type": "number",
                                        "format": "float",
                                        "minimum": 0,
                                        "example": 135000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Estate plot detail created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Estate plot detail created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "plot_detail": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "estate_id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "available_plot": {
                                                            "type": "integer",
                                                            "example": 50
                                                        },
                                                        "available_acre": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 25.5
                                                        },
                                                        "price_per_plot": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 150000
                                                        },
                                                        "percentage_increase": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 5.5
                                                        },
                                                        "installment_plan": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "12 months",
                                                                "6 months"
                                                            ]
                                                        },
                                                        "promotion_price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 135000,
                                                            "nullable": true
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-08-19T11:00:00Z"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-08-19T11:00:00Z"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "estate_name": {
                                                    "type": "string",
                                                    "example": "Luxury Estate Gardens"
                                                },
                                                "effective_price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 135000
                                                },
                                                "has_promotion": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "total_plot_value": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 6750000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/estate-plot-details/all": {
            "get": {
                "tags": [
                    "Plot Details"
                ],
                "summary": "Get all plot details with filtering",
[...]
